<h2 class="d-flex justify-content-center">Ask your coach a stupid question:</h2>

<form action="/answer" data-turbo="false">
  <label for="member_id">Type a question:</label>
  <input id="member_id" type="text" 
        name="question" placeholder="Who are you looking for?">
  <input type="submit" value="Ask!">
</form>



